.send {
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
    padding: 0px 20px;
}

.header {
    text-align: center;
}

.inp {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    font-size: 90%;
}

.button {
    background: none;
    color: black;
    font-weight: bold;
    font-size: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.button:hover {
    background: black;
    color: white;
}