<!DOCTYPE html>
<html>
    <head>
        <title>SockApp - v{{version}}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        {% include 'components/nav.html' %}

        {% include 'components/info.html' %}
        <br><br>
        <div class="send">
            <h1 class="header">Send</h2>
            <p>
                <input type="text" id="recv_ip" class="inp" placeholder="Receiver's IP">
            </p>
            <p>
                <input type="text" id="send_path" class="inp" placeholder="Path to file/directory (relative/absolute)"> 
            </p>
            <p>
                <input type="button" id="send" class="button" value="Send">
            </p>
        </div>
        <br><br>
        <div class="send">
            <h1 class="header">Receive</h2>
            <p>
                <input type="button" id="receive" class="button" value="Receive">
            </p>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/info.js') }}"></script>
    </body>
</html>