<!DOCTYPE html>
<html>
    <head>
        <title>SockApp - v{{version}}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="send"> 
            <h1 class="header">Your information</h1>
            <p><strong>Host name</strong>: {{hostname}}</p>
            <p><strong>IP Address</strong>: {{ip}}</p>
            <p><strong>Port</strong>: {{port}}</p>
        </div>
        <br><br>
        <div class="send">
            <h1 class="header">Send</h2>
            <p>
                <input type="text" id="recv_ip" class="inp" placeholder="Receiver's IP">
            </p>
            <p>
                <input type="text" id="send_path" class="inp" placeholder="Path to file (relative/absolute)"> 
            </p>
            <p>
                <input type="button" id="send" class="button" value="Send">
            </p>
        </div>
        <br><br>
        <div class="send">
            <h1 class="header">Receive</h2>
            <p>
                <input type="button" id="receive" class="button" value="Receive">
            </p>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>