<!DOCTYPE html>
<html>
    <head>
        <title>SockApp - v{{version}}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>

        <div class="container">

            {% include 'components/nav.html' %}
            <!--Navbar ends here-->
            <main class="mainContent">
    
                <div class="info">
                    {% include 'components/info.html' %}
                    <div class="sendInfo">
                        <div class="data">
                            <h2>Send Information</h2><br>
                            <input type="text" id="recv_ip" class="inputData" placeholder="Reciever's IP"><br>
                            <input type="text" id="send_path" class="inputData" placeholder="Path to file/directory (relative/absolute)"><br>
                        </div>
                        <div class="sectionButton">
                            <input type="button" id="send" class="button" value="Send">
                        </div>
                    </div>
                </div>
    
                <div class="receiveInfo">
                    <input type="button" id="receive" class="button" value="Receive">
                </div>
    
            </main>
    
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/info.js') }}"></script>
    </body>
</html>