<!DOCTYPE html>
<html>
    <head>
        <title>SockApp - v{{version}}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="container">

            {% include 'components/nav.html' %}
            <!--Navbar ends here-->
            <main class="mainContent">
    
                <div class="info">
                    {% include 'components/info.html' %}
                    <div class="sendInfo">
                        <div class="data">
                            <h2>Send Information</h2><br>
                            <input type="text" id="recv_ip" class="inputData" placeholder="Reciever's IP"><br>
                            <textarea rows="5" id="send_msg" class="inputData" placeholder="Message"></textarea><br>
                        </div>
                        <div class="sectionButton">
                            <input type="button" id="send" class="button" value="Send">
                        </div>
                    </div>
                </div>
    
                <div class="receiveInfo">
                    <div class="recievedMessage">
                        <h1 class="header">Received</h2>
                        <p id="recvd_msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, harum cum saepe beatae nobis praesentium dolores vel eveniet dolorem voluptatibus hic maxime quidem ducimus itaque illum accusamus. Molestiae, quae incidunt?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis dolores aliquid ipsum ad possimus corrupti corporis quae id quis, suscipit voluptates nemo accusamus quod eaque nisi impedit quos quam reprehenderit Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas similique non nulla, delectus quos omnis impedit ratione quo nostrum maxime deleniti at modi labore laborum quibusdam officia esse repudiandae sunt.</p>
                    </div>
                    <input type="button" id="receive" class="button" value="Receive">
                </div>
    
            </main>
    
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/messaging.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/info.js') }}"></script>
    </body>
</html>